page-signup {

    .login-content {
      background: #D3D3D3;
    
      .logo-row {
        padding-top: 20px;
        padding-bottom: 10px;
      }
    
      .login-box {
        background: #990a0a;
        padding: 20px 20px 0px 20px;
        margin-top: 10px;
      }
    
      ion-row {
         align-items: center;
         text-align: center;
       }
    
       ion-item {
           border-radius: 30px !important;
           padding-left: 30px !important;
           font-size: 0.9em;
           margin-bottom: 10px;
           border: 1px solid #ffffff;
           border-bottom: 0px !important;
           box-shadow: none !important;
       }
    
       .signup-col {
         margin: 0px 16px 0px 16px;
         padding-bottom: 30px;
       }
    
       .item-inner {
         border-bottom-color: #ffffff !important;
         box-shadow: none !important;
       }
    
       .submit-btn {
         background: #D3D3D3;
         color: #960000;
         border-radius: 30px !important;
         border: 1px solid #ffffff;
       }
    
       .register-btn {
         color: #ffffff;
         font-size: 0.8em;
       }
    }
}